<header class="main-container">
    <div class="break-mobile">
        <div class="header">
            <a href="/" title="METRO" class="logo">
                <picture>
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/shared/Bucket-Header/METRO.svg?rev=-1&amp;w=129&amp;hash=DB804DB52AB628282509929F5704CC77" alt="METRO" width="129" height="32">
                </picture>
            </a>
            <h1>M. Content Workbench</h1>
        </div>
        <div class="login">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                    <path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Z M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2Zm7.9925,22.9258A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z" />
                  </svg>
                <h5>Test User</h5>
            </a>
        </div>
    </div>
</header>

<style>
    header{
        background-color: var(--color-08);    
        .break-mobile{
            justify-content: space-between;
            align-items: center;
        }
    }

    .header{
        padding: var(--main-padding) 0;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .logo picture{
        display: inline-block;
        padding: 0.25rem 0.5rem;
        background-color: var(--color-06);
    }

    .login{
        a{
            display: flex;
            align-items: center;
            gap: 0.25rem;
            svg{
                fill: var(--color-06);
            }
        }
    }

 @media only screen and (max-width:600px){
    .header{
       padding: 0;
    }
    .break-mobile{
        align-items: start !important;
    }
}
</style>