---
import FooterButtons from './FooterButtons.astro';
import Navigation from '../components/Navigation.astro';
---
<Navigation navSelected='1'/>
<section>
    <div id="ideation" class="main-2col break-mobile">
        <div></div>
        <div></div>
    </div>
</section>
<FooterButtons 
    firstButtonId='ideation-first-button'
    secondButtonId='ideation-second-button'
    firstButtonText='Reset All'
    secondButtonText='Next Step'
    firstButtonClass='button-white-blue'
    secondButtonClass='button-gray'
    firstButtonPosition="icon-left"
    secondButtonPosition="icon-right"
    firstButtonType="icon3"
    secondButtonType="icon2"
    />

<style>
    #ideation{
        background-color: var(--color-07);
        padding: calc( var(--main-padding)*2 );
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const firstButton = document.getElementById('ideation-first-button');
        const secondButton = document.getElementById('ideation-second-button');

        if (firstButton) {
            firstButton.setAttribute('hx-trigger', 'click'); // Set up htmx to load Refinement
            firstButton.setAttribute('hx-get', '/refinement');
            firstButton.setAttribute('hx-target', '#content');
        }

        if (secondButton) {
            secondButton.setAttribute('hx-get', '/links'); // Set up htmx to load Links
            secondButton.setAttribute('hx-target', '#content');
        }
    });
</script>